<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.pupil.newlife">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".crimialintent.CrimeActivity">
        </activity>
        <activity android:name=".im.ImActivity">
        </activity>

        <service android:name="info.emm.messenger.VYService"/>

        <receiver
            android:name=".im.InitReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="IMSDKServiceStarted">
                </action>
            </intent-filter>
        </receiver>

        <activity android:name=".expandablelistview.ExpandableActivity">
        </activity>
        <activity android:name=".bluetooth.BluetoothActivity">
        </activity>
        <activity android:name=".crimialintent.CrimeListActivity">
        </activity>
        <activity android:name=".crimialintent.CrimePagerActivity"
            android:parentActivityName=".crimialintent.CrimeListActivity">
        </activity>
        <activity android:name=".vim.VIMActivity">
        </activity>

        <receiver android:name="vim.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_BROADCAST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>